<% include partials/header %>

<h1> This is the Home page</h1>

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVSnqnyRABFlzR1PV7A0djxKacnoRGNmeQegJyq-bRtopBP5GS">

<% include partials/footer %>
